<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    @Styles.Render("~/Content/css")
    <title>TFS Cruiser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="TFS Cruiser Information Radiator" />
</head>
<body>
    <header role="banner">
        <h1>TFS Cruiser</h1>
    </header>
    <nav>
        <ul id="bar">
            <li><a href="@Url.Action("Index", "Builds", new { })">Builds</a></li>
            <li><a href="@Url.Action("Index", "Test", new { })">Test Runs</a></li>

        </ul>
    </nav>
    <main role="main" id="main">
        <article>
            @RenderBody()
        </article>
    </main>
    <audio src="~/Content/ecto.mp3" id="alarm"></audio>
    @RenderSection("Scripts", required: false)
</body>
</html>
