@model IList<Fenton.TeamServices.BuildRestApi.GroupedBuild> 

@{
    bool hasFailures = false;

    foreach (var project in Model)
    {
        var first = project.Builds.First();

        if (first.result.Equals("failed", StringComparison.InvariantCultureIgnoreCase))
        {
            hasFailures = true;
        }

        <div class="TfsProject @Html.MapState(first.result)" title="@first.definition.name" style="height: @Html.TileHeight(Model.Count, 2, 2.5m)%;">
            <h3><a href="@first.uri">@first.definition.name</a></h3>
            <div class="info">@first.buildNumber for @first.requestedFor.displayName</div>
            <div class="info">@first.finishTime</div>
            <ul class="history">
                @foreach (var run in project.Builds)
                {
                    <li class="TfsProject Mini @Html.MapState(run.result)" title="@run.finishTime - @run.result" style="width: @Html.MiniTileWidth(project.Builds.Count)%">@run.requestedFor.displayName</li>
                }
            </ul>
          <div class="Status @Html.MapState(first.result)">
                @Html.MapState(first.result)
            </div>
        </div>
    }


    if (hasFailures)
    {
        <script>
            window.setTimeout(function () {
                var alarm = document.getElementById('alarm');
                if (alarm) {
                    alarm.play();
                }
            }, 1000);
        </script>
    }
}
