@model TfsCruiser.ViewModels.TestPlanViewModel
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
@section title { Active Test Plans }
    @foreach (var result in Model.TestResults)
    {
        <div id="unitTestResults" class="TfsProject @result.GetTestResultCssClass()" style="height:30%;">
            <h3>Test Plan @result.Name</h3>
            <div style="float:left; width:50%;">
                <p style="font-size:1.4em;"><strong>Passed Tests: @result.PassedTestCount / @result.TotalTestCount</strong></p>
                <p style="font-size:1em">Failed Tests: @result.FailedTestCount / @result.TotalTestCount</p>
                <p style="font-size:1em">Inconclusive Tests: @result.NotRunTestCount / @result.TotalTestCount</p>
            </div>            
        </div>
    }
@section Scripts {
    <script>
        window.addEventListener("load", init, false)

        function init()
        {
            window.setTimeout(showResultsArrow, 1500)
        }

        function showResultsArrow()
        {
            var resultsIndicator = document.getElementById("resultsIndicator");
            if (resultsIndicator.style.removeProperty) {
                resultsIndicator.style.removeProperty('margin');
            } else {
                resultsIndicator.style.removeAttribute('margin');
            }
        }

    </script>
}