@model IList<Fenton.TeamServices.TestRestApi.GroupedTest> 

@{
    bool hasFailures = false;
    string result = "succeeded";

    foreach (var test in Model)
    {
        var first = test.TestRuns.First();

        if (first.passedTests != first.totalTests)
        {
            hasFailures = true;
            result = "failed";
        }
        <div class="TfsProject @Html.MapState(result)" title="@first.project.name" style="height: @Html.TileHeight(Model.Count, 2, 2.5m)%;">
            <h3><a href="@first.url">@first.project.name</a></h3>
            <div class="info">@first.passedTests of @first.totalTests passed</div>
            <div class="info">@first.createdDate</div>
            <ul class="history">
                @foreach (var run in test.TestRuns)
                {
                    var miniResult = (first.passedTests == first.totalTests) ? "succeeded" : "failed";
                    <li class="TfsProject Mini @Html.MapState(miniResult)" title="@run.project.name - @miniResult" style="width: @Html.MiniTileWidth(test.TestRuns.Count)%">@miniResult</li>
                }
            </ul>
          <div class="Status @Html.MapState(result)">
                @result
            </div>
        </div>
    }

    if (hasFailures)
    {
        <script>
            window.setTimeout(function () {
                var alarm = document.getElementById('alarm');
                if (alarm) {
                    alarm.play();
                }
            }, 1000);
        </script>
    }
}
