@model IList<Fenton.TeamServices.TestRestApi.GroupedTest> 

@{
    bool hasFailures = false;

    foreach (var test in Model)
    {
        var first = test.TestRuns.First();

        if (first.result.Equals("failed", StringComparison.InvariantCultureIgnoreCase))
        {
            hasFailures = true;
        }

        <div class="TfsProject @Html.MapState(first.result)" title="@first.project.name" style="height: @Html.TileHeight(Model.Count, 2, 2.5m)%;">
            <h3><a href="@first.url">@test.Name</a></h3>
            <div class="info">@first.passedTests of @first.totalTests passed</div>
            <div class="info">@first.completedDate</div>
            <ul class="history">
                @foreach (var run in test.TestRuns)
                {
                    <li class="TfsProject Mini @Html.MapState(run.result)" title="@test.Name - @run.completedDate" style="width: @Html.MiniTileWidth(test.TestRuns.Count)%">@Html.MapState(run.result)<br />@run.passedTests / @run.totalTests</li>
                }
            </ul>
          <div class="Status @Html.MapState(first.result)">
                @Html.MapState(first.result)
            </div>
        </div>
    }

    if (hasFailures)
    {
        <script>
            window.setTimeout(function () {
                var alarm = document.getElementById('alarm');
                if (alarm) {
                    alarm.play();
                }
            }, 1000);
        </script>
    }
}
