@model Fenton.TeamServices.BuildRestApi.ForensicsViewModel

<ol class="churn">
    @foreach (var churn in Model.Churn.Files.Take(25))
    {
        <li title="@churn.ItemName - @churn.Count changes) - Version: @churn.Version" class="churn-@churn.Score">
            @Html.Raw(churn.DisplayName)
            <div class="num">
                @if (churn.Percentile < 1)
                {
                    <span>&lt;1%</span>
                }
                else
                {
                    <span>@churn.Percentile%</span>
                } (@churn.Count)
            </div>
        </li>
    }
</ol>