@model Fenton.TeamServices.BuildRestApi.Churn
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<ol class="churn">
    @foreach (var churn in Model.Folders.Take(25))
    {
        <li title="@churn.ItemName (@churn.Count changes)" class="churn-@churn.Score">
            @churn.DisplayName
            <div class="num">
                @if (churn.Percentile < 1)
                {
                    <span>&lt;1%</span>
                }
                else
                {
                    <span>@churn.Percentile%</span>
                } (@churn.Count)
            </div>
        </li>
    }
</ol>